* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
}

.container {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 16px 28px;
  border-radius: 9px;
  background-color: rgb(206, 126, 60);
  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on the original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #fff;
  color: rgb(206, 126, 60);
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  padding: 0 5px;
}

.main-nav-link:after {
  content: "";
  position: absolute;
  background-color: rgb(206, 126, 60);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: all 0.3s;
}

.main-nav-link:hover:after,
.main-nav-link:active:after {
  width: 100%;
}
