@media (max-width: 75em) {
  .logo {
    height: 8.4rem;
  }

  .main-nav-list {
    gap: 2.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2rem;
  }

  .cta-text {
    padding: 0 4.8rem;
  }

  .cta h1 {
    font-size: 5rem;
    padding: 0 4.8rem;
  }
}
