* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/background.jpeg) no-repeat center center fixed;
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  width: 100%;
}

/* ********************** */
/* HEADER SECTION */
/* ********************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
}

/* ********************** */
/* NAVIGATION */
/* ********************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  text-shadow: 2px 2px 6px #000;
}
