body {
  color: #555;
  font-family: "Rubik", sans-serif;
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(../img/vishnu-r-nair-m1WZS5ye404-unsplash.jpg);
  background-size: cover;
}

.cta {
  padding: 96px 0;
  color: #fff;
  text-align: center;
}

.cta h1 {
  text-transform: uppercase;
  margin-bottom: 48px;
  font-size: 80px;
  font-weight: 600;
  line-height: 1.1;
  text-shadow: 2px 2px #000;
}
